body {
    background-color:#000040;
    color: white;
    padding:0px;
    margin: 0px;
    font-family: "Manrope regular",system-ui, sans-serif;
    
    max-width: 1920px;
    }
    #main-header{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    #bottom {
        display: flex;
        background-color:#17177a;
        color: #ffffff;
        padding: 0.54vw;
        margin: 0;
        text-align: left;
        font-family: sans-serif;
        font-size:17px;
        line-height: normal;
        & > img {
            color: #ffffff;
        }
    }
    
    #second-head{
        display: flex;
        flex-direction: column;
        & > h1{
            font-family: sans-serif;
            font-size: 50px;
        }
    }
    
    
    
    #section2{
        display: flex;
        gap:45px;
        list-style: none;
        text-align: center;
        cursor: pointer;
    }
    .hori{
        background-color: #1a313c;
        opacity: 70%;
        text-align: center;
    }
    .para{
        font-size: 14px;
        text-align: left;
        color: #ffffff ;
        opacity: 70%;
    }
    #section1{
        display: flex;
        text-align: center;
        cursor: pointer;
        list-style: none;
        flex-wrap: wrap;
        gap:40px;
    }
    #section3{
        display: flex;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;
        gap: 40px;
        cursor: pointer;
    }
    #section4{
        display: flex;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;
        cursor: pointer;
        gap:50px;
    }
    #section5{
        display: flex;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;
        cursor: pointer;
        gap:45px;
    }