* {
  margin: 0;
  padding: 0;
}

.nav-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  height: 5vh;
  background: #000;
  padding: 8px;

  .logo img {
    width: 5vw;
    height: 2.4vh;
  }

  .log {
    display: flex;
    gap: 0.34vw;
    justify-content: center;
    align-items: center;
    color: white;

    svg {
      /* width: 2.76vw; */
      height: 2.42vh;
      color: white;
    }
  }
}

/* Sub - Header */
#sub-header {
  max-width: 100vw;
  height: 4rem;
  background: linear-gradient(
    to right,
    rgb(19, 19, 232) 40%,
    rgb(0, 0, 108) 80%
  );

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 55px;
    margin-top: 0px;
    padding-top: 8px;
    gap: 33px;
    font-size: small;

    li {
      list-style: none;
      color: white;

      &:hover {
        cursor: pointer;
        color: aqua;
        transition: 0.23s ease-out;
      }
      &:nth-child(7) {
        background-color: aqua;
        color: rgb(33, 33, 53);
        border-radius: 50%;
        width: 80px;
        text-align: center;
      }
      &:first-child img {
        height: 2.4rem;
      }
    }

    & > .favourite {
      display: flex;
      align-items: center;
      gap: 0.42vw;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50px;
      color: white;
      font-size: 15px;
      width: 190px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        border: 0.07vw solid rgb(157, 156, 156);
        color: rgb(157, 156, 156);
      }
    }
  }
}

.container {
  max-width: 100vw;
  padding: 30px;
  
}

.logo {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-size: 14px;

  img {
    height: 50px;
    text-align: center;
    margin-left: 23px;
  }
}

.officil-imgage div,
p {
  text-align: center;
  margin: 22px;
  font-size: 14px;
}

.officil-imgage img {
  margin: 10px;
  max-width: 100px;
}

.footer {
  background-image: url("./images/24.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 14px;

  img {
    height: 150px;
  }
}

.menu-container {
  display: flex;
  gap: 80px;
  justify-content: center;
  font-size: 20px;
  margin-top: -130px;
}
.menu-list:nth-child(even) {
  border-right: 2px solid white;
  height: 130px;
  margin: 20px;
}

.menu-list li {
  list-style: none;
  text-align: center;
  color: aliceblue;
}

.follow {
  display: flex;
  justify-content: space-around;
  span {
    color: aliceblue;
  }
  img {
    height: 50px;
  }
}

.footer-service-nav {
  margin-top: -22px;

  ul {
    list-style: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
  }
  P {
    color: aliceblue;
    line-height: 0.5rem;
  }
}
