* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(5, 34, 54);
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
}

/* header : section */
.my-uefa {
    width: 100%;
    height: 8vh;
    background: rgb(5, 34, 54);
    display: flex;
    justify-content: space-between;
    padding-left: 4em;
    align-items: center;

    .uefa-tex {
        font-size: 1.42em;
    }

    /* .mov-arr {
        animation-name: infiniteSpine;
        animation-duration: 0.72s;
        animation-iteration-count: infinite;
        Added this to ensure infinite looping
    }

    @keyframes infiniteSpine {
        from {
            transform: translate(2.2em);
        }

        to {
            transform: translate(0em);
        }
    } */

    .log-in {
        padding-right: 3.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.73vw;
        margin-right: 3rem;

        a {
            text-align: center;

            .align-up {
                text-align: center;
                position: absolute;
                top: 1.22vw;
                font-size: 1.2vw;
                right: 10.6rem;
            }

            svg {
                border-radius: 70%;
            }
        }
    }
}


/* This content from header  .my-uefa > .uefa-tex > .mov-arr*/
.mov-arr {
    animation-name: infiniteSpine;
    animation-duration: 1.72s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes infiniteSpine {
    from {
        transform: translate(2.2em);
    }

    to {
        transform: translate(0em);
    }
}



.main {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

& .left {
    width: 33vw;
    height: 122vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin: 0s;

    .menu-card {
        /* margin-top: -6rem; */
        width: 30vw;
        height: 30vh;
        background: rgba(49, 49, 49, 0.66);
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        list-style: none;
        border-radius: 0.67vw;
        color: white;
        padding: 0.7em;

        h5 {
            padding-left: 0.3em;
            margin-bottom: 0.3vh;
            font-size: 2em;
            font-family: monospace;
        }

        .part-ies {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8em;
            padding-top: 0.81em;

            & .left-cont {
                padding: 0.1em;
                width: 13vw;
                /* background: #000; */
                font-size: 1.3em;
            }
        }


    }
}

.cover-it {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 1.23em;

    .box {
        width: 14vw;
        height: 14vh;
        border: 0.1em solid rgb(79, 64, 47);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.4vh;
        border-radius: 0.7em;
        color: white;
        transition: 0.8s ease-out;

        &:hover {
            cursor: pointer;
            /* background: rgb(79, 64, 47); */
            box-shadow: inset 14.6em 0 0 0 rgb(79, 64, 47), inset -14.5em 0 0 0 rgba(115, 103, 37, 0.76);
            transition: 0.8s ease-in;
        }
    }
}


.right {
    width: 51vw;
    height: 122vh;

    &>h1 {
        font-size: 2.7vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .league-announce {
        padding: 1.3em;
        display: flex;
        flex-direction: column;
        gap: 2.4vh;

        .part {
            padding: 0.6vw;

            h3 {
                font-size: 2vw;
            }

            .sport-era {
                /* width: 0.8vw; */

                padding-top: 1.56em;
                word-wrap: break-word;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                /* background: darkblue; */
                align-items: center;
                gap: 0.88vw;

                li {
                    text-align: center;
                    width: 6.7vw;
                    /* background: wheat; */

                    img {
                        /* width: 4.2rem; */
                        height: 4.2vh;
                    }

                    .caption {
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 0.8vw;
                    }
                }
            }
        }
    }
}