* {
  margin: 0;
  padding: 0;
}

.nav-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  height: 5vh;
  background: #000;
  padding: 8px;

  .logo img {
    width: 5vw;
    height: 2.4vh;
  }

  .log {
    display: flex;
    gap: 0.34vw;
    justify-content: center;
    align-items: center;
    color: white;

    svg {
      /* width: 2.76vw; */
      height: 2.42vh;
      color: white;
    }
  }
}

/* Sub - Header */
#sub-header {
  max-width: 100vw;
  height: 3.4rem;
  background: linear-gradient(
    to right,
    rgb(19, 19, 232) 40%,
    rgb(0, 0, 108) 80%
  );
  position: sticky;
  top: 0;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 55px;
    padding-top: 2px;
    gap: 33px;
    font-size: small;

    li {
      list-style: none;
      color: white;

      &:hover {
        cursor: pointer;
        color: aqua;
        transition: 0.23s ease-out;
      }
      &:nth-child(3) {
        background-color: aqua;
        color: rgb(33, 33, 53);
        border-radius: 56%;
        width: 80px;
        height: 52px;
        text-align: center;
      }
      &:first-child img {
        height: 2.4rem;
      }
    }

    & > .favourite {
      display: flex;
      align-items: center;
      gap: 0.42vw;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 21px;
      color: white;
      font-size: 15px;
      height: 36px;
      padding-left: 15px;
      width: 160px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        border: 0.07vw solid rgb(157, 156, 156);
        color: rgb(157, 156, 156);
      }
    }
  }
}

.container {
  border: 1px solid #a3a4b7;
  width: 80vw;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  font-size: 14px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-family: "Manrope regular", system-ui, sans-serif;
}

tr td {
  padding: 8px;
  border-bottom: 1px solid #a3a4b7;
}

tr:hover {
  background-color: rgb(225, 216, 216);
}

tr td:not(:first-child) {
  text-align: center;
}

.radio {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}

.radio div {
  border: 1px solid rgba(115, 113, 113, 0.669);
  float: left;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 10px;
}

.radio div:last-child {
  background-color: green;
  color: white;
  text-decoration: underline;
  font-size: 12px;
}

.officil-imgage {
  margin-bottom: -137px;
  margin-top: 5rem;
  line-height: 36px;
  text-align: center;
  font-size: small;
}

footer {
  padding: 2.74rem 2.87rem 1.89rem 2.87rem;
  margin-top: 6.4rem;
  max-width: 100vw;
  height: 118vh;
  background: url("./assets/Bg-uefaFooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0.691rem;
  word-wrap: break-word;
  color: aliceblue;

  #footer-top {
    padding-right: 9vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .logo {
      img {
        width: 5.78vw;
        height: 9vh;
      }
    }

    ul li {
      text-align: left;
      list-style: none;
    }

    ul:nth-child(4),
    ul:nth-child(5) {
      border-left: 0.01vw solid rgba(128, 128, 128, 0.468);
      padding-left: 0.7em;

      h3 {
        padding-bottom: 1.03vh;
        font-weight: 438;
        text-transform: uppercase;
      }
    }
  }

  #footer-contact {
    display: flex;
    justify-content: space-between;
    padding: 2.74rem 5.26rem 1.89rem 5.26rem;

    .social-media ul {
      display: flex;
      gap: 0.4vw;

      h6 {
        font-size: 0.98vw;
        align-self: center;
        font-weight: 342;
      }

      li:last-child {
        .fa-brands {
          padding-right: 0.6em;
          padding-left: 0.57em;
        }
      }

      .social-logo {
        list-style: none;

        .fa-brands {
          font-size: 1.2vw;
          border: 0.06vw solid white;
          border-radius: 20vw;
          padding: 0.5em;
        }
      }
    }

    .user-store {
      display: flex;
    }
  }

  #footer-rule {
    width: 100%;
    height: 4.6vh;
    margin-top: 2.14em;

    ol {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.5vw;
      padding: 0.63em;

      li {
        list-style: none;
      }
    }
  }

  #footer-bottom {
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3vh;
    word-wrap: break-word;
    margin-top: 0.78em;
    letter-spacing: 0.03vw;

    .copyright,
    .p {
      font-weight: lighter;
      font-size: 0.72rem;
      text-align: center;
      color: #a2a2a2c9;
    }
  }
}

@media (max-width: 712px) {
  .social-logo {
    gap: 7vw;
  }

  #footer-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;

    .user-store {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.42vh;
    }
  }

  #footer-top {
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      gap: 2vw;
    }
  }

  ul:nth-child(4),
  ul:nth-child(5) {
    padding-top: 0.8vw;
  }
}
